<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>{% block tytul %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <ul id="menu">
        <li><a href="{{ url_for('index') }}">Strona główna</a></li>
        <li><a href="{{ url_for('lista') }}">Lista pytań</a></li>
        <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
        <li><a href="{{ url_for('dodaj') }}">Dodaj pytanie</a></li>
    </ul>
        
    <h1>{% block h1 %}{% endblock %}</h1>

          {% with komunikaty = get_flashed_messages(with_categories=true) %}
          {% if komunikaty %}
          <div id="komunikaty" class="well">
            {% for kategoria, komunikat in komunikaty %}
              <span class="{{ kategoria }}">{{ komunikat }}</span><br>
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}    
    
    {% block tresc %}{% endblock %}
    
</body>
</html>
