<!DOCTYPE html>
<html lang="pl">
<!--
   dodaj.html
-->

<head>
    <meta charset="utf-8" />
    <title>Quiz</title>
</head>

<body>
    <h1>Quiz - dodawanie pytań </h1>
    <form method="POST" action="">
    {{ form.csrf_token }}
    
    {{ form.pytanie.label }}<br>
    {{ form.pytanie }} <br>
    <br>
    {{ form.kategoria.label }}<br>
    {{ form.kategoria }} <br>
    <br>
    <label>Podaj odpowiedzi i zaznacz poprawną</label>
    <ol>
    {% for o in form.odpowiedzi %}
    <li>{{ o }}</li>
    {% endfor %}
    </ol>
    <input type="submit" value="Zapisz pytanie">
    </form>
</body>

</html>
