{% extends "szablon.html" %}
{% block tytul %}Quiz – quiz{% endblock %}
{% block h1 %}Quiz – odpowiedz na pytania{% endblock %}    
{% block tresc %}
    
    <form method="POST">
    {% for p in query %}
    <p>
        <!-- wypisujemy id i treść pytania -->
        {{ p.id }} {{ p.pytanie }}
        
        <br>
        {% for o in p.odpowiedzi %}
            <label>
                <input type="radio" value="{{ o.id }}" name="{{ p.id }}">
                {{ o.odpowiedz }}
            </label>
        {% endfor %}
        <br>
    </p>
    {% endfor %}
    <input type="submit" value="Zapisz odpowiedzi">
    </form>

{% endblock %}
