<!DOCTYPE html>
<html lang="pl">
<!--
   index.html
-->

<head>
    <meta charset="utf-8" />
    <title>{%block tytul%}{%endblock%}</title>
    <style type="text/css">
        body {
            background: #D8C8C8;
            color #383232;
        }
        #menu li {display: inline;}
    </style>
</head>

<body>
    

    <ul id="menu">
        <li><a href="{{ url_for('lista') }}">Lista pytań</a></li>
        <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
        <li><a href="{{ url_for('dodaj') }}">dodajPytanie</a></li>
    </ul>
    
    <h1>{% block h1 %}{% endblock %}</h1>
    {% block tresc %}{% endblock %}
</body>

</html>
