/* quiz/static/style.css */

#komunikaty {
    width: 80%;
    margin: 2em;
    border: 2px solid green;
    border-radius: 5px;
    background-color: lightgrey;
}
span.blad { color: red; }
span.sukces { color: green; }
span.kom { color: blue; }

ol.alfabet { list-style-type: lower-alpha; }
.bg-nawigacja { background-color: #62256B; }


section#about { padding: 50px 0;}
li.elemdel { padding: 10px 0;}
header { padding: 106px 0 50px 0;}

